@font-face {
    font-family: 'Steinbeck';
    src: url('SteinbeckFC-Reg.woff2') format('woff2'),
        url('SteinbeckFC-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

