.bookCard {
  display: inline-block;
  width: 164px;
  text-decoration: none;
}

.bookCard-img {
  border-radius: 15px;
}

.bookCard-title {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #c9ac8c;
}
