@font-face {
    font-family: 'Rotterburg Stylish FREE';
    src: url('RotterburgStylishFREE-Regular.woff2') format('woff2'),
        url('RotterburgStylishFREE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

